:root{
  --bgColor: #EAEBED;
  --bg2Color:rgb(184, 184, 184)D;
  --navColor: #2E424D;
  --subnavColor: #5c89a1;
  --sidebarColor: #5B8291;
  --altColor: #7DDEDD;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
}

* {
  box-sizing: border-box;
}
